html{
    background-color: #eeeeee;
}
body{
    font-size: 0.85rem;
}
.label{
    font-size: 0.85rem;
}
.menu-list a {
    font-size: 0.85rem;
}
span.tag {
    font-size: 0.70rem;
    padding: -10px;
    margin-right: 3px;
}