{% extends "Layout.html" %}
{% block content %}
<article class="box">
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>名前 </th>
                <th>Node </th>
                <th>Path </th>
            </tr>
        </thead>
        <tbody>
            {% for data in domain %}
            <tr>
                <td>{{data['name']}}</td>
                <td>{{data['node']}}</td>
                <td>{{data['path']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</article>

{% endblock %}