{% extends "Layout.html" %}
{% block content %}

<div class="tile is-ancestor has-text-centered">
  <div class="tile is-parent is-6">
    <article class="tile is-child box">
      <p class="title">{{domain['name']}}</p>
      <p class="subtitle">Name</p>
    </article>
  </div>
  <div class="tile is-parent is-3">
    <article class="tile is-child box">
      <p class="title">{{domain['node-name']}}</p>
      <p class="subtitle">Node</p>
    </article>
  </div>
  <div class="tile is-parent is-3">
    <article class="tile is-child box">
      <p class="title">{{domain['vnc'][0]}}</p>
      <p class="subtitle">VNC</p>
    </article>
  </div>
</div>

<div class="columns is-vcentered is-multiline">
  <div class="column">
    <article class="box">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Column </th>
            <th>Value </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Node name on which this domain</td>
            <td>{{domain['node-name']}}</td>
          </tr>
          <tr>
            <td>Node ip on which this domain</td>
            <td>{{domain['node-ip']}}</td>
          </tr>
          <tr>
            <td>Node name on which this domain</td>
            <td>{{domain['node-name']}}</td>
          </tr>
          <tr>
            <td>Vnc port</td>
            <td>{{domain['vnc'][0]}}</td>
          </tr>
          <tr>
            <td>Auto vnc port mapping</td>
            <td>{{domain['vnc'][1]}}</td>
          </tr>
          <tr>
            <td>Allow vnc connection host</td>
            <td>{{domain['vnc'][2]}}</td>
          </tr>
          <tr>
            <td>Vnc password</td>
            <td>{{domain['vnc'][3]}}</td>
          </tr>
          <tr>
            <td>Selinux enforse</td>
            <td>{{domain['selinux']}}</td>
          </tr>
          <tr>
            <td>Boot device</td>
            <td>{{domain['boot']}}</td>
          </tr>
        </tbody>
      </table>
    </article>
  </div>
  <div class="column">
    <article class="box">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Device </th>
            <th>Type </th>
            <th>Source </th>
            <th>Target </th>
            <th>Edit </th>
          </tr>
        </thead>
        <tbody>
          {% for dom in domain['disk'] %}
          <tr>
            <td>{{dom[0]}}</td>
            <td>{{dom[1]}}</td>
            <td>{{dom[2]}}</td>
            <td>{{dom[3]}}</td>
            {% if dom[0] == "cdrom" %}
            <td class=" last"><a href="/domain/{{domain['uuid']}}/disk/{{dom[3]}}">Edit</a>
              {% else %}
            <td class=" last">-</a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </article>
    <article class="box">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Type </th>
            <th>Mac </th>
            <th>Target </th>
            <th>Source </th>
            <th>Edit </th>
          </tr>
        </thead>
        <tbody>
          {% for dom in domain['interface'] %}
          <tr>
            <td>{{dom[0]}}</td>
            <td>{{dom[1]}}</td>
            <td>{{dom[2]}}</td>
            <td>{{dom[3]}}</td>
            <td class=" last"><a href="/domain/{{domain['uuid']}}/nic/{{dom[1]}}">Edit</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </article>
  </div>
  <div class="column is-narrow">
    <article class="box">
      <form method="post" action="/api/que/domain/power/" class="field">
        <label class="label">Power</label>
        <input type="hidden" name="domain-list" value="{{domain['name']}}">
        <button name="status" value="poweron" class="button is-success is-small">PowerON</button>
        <button name="status" value="poweroff" class="button is-danger is-small">PowerOFF</button>
      </form>
    
      <form method="post" action="/api/que/domain/selinux/" class="field">
        <label class="label">SElinux</label>
        <input type="hidden" name="uuid" value="{{domain['uuid']}}">
        <button name="state" value="disable" class="button is-danger is-small">Disable</button>
      </form>
    
      <form action="/api/que/domain/name-edit/" method="post" class="field">
        <label class="label">Edit name</label>
        <input type="hidden" name="uuid" value="{{domain['uuid']}}">
        <div class="field has-addons">
          <div class="control">
            <input name="newname" class="input control is-small" type="text" placeholder="Name">
          </div>
          <div class="control">
            <button class="button is-primary is-small">Edit</a>
          </div>
        </div>
      </form>
    
      <form action="/api/que/domain/memory-edit/" method="post" class="field">
        <label class="label">Memory</label>
        <input type="hidden" name="uuid" value="{{domain['uuid']}}">
        <div class="field has-addons">
          <div class="control">
            <span class="select is-small">
              <select class="select" name="memory" required="required">
                <option value="512">512MB</option>
                <option value="1024">1024MB</option>
                <option value="2048">2048MB</option>
                <option value="4096">4096MB</option>
                <option value="8192">8192MB</option>
                <option value="16384">16GB</option>
                <option value="32768">32GB</option>
                <option value="65536">64GB</option>
                <option value="13072">128GB</option>
              </select>
            </span>
          </div>
          <div class="control">
            <button class="button is-primary is-small">Edit</button>
          </div>
        </div>
      </form>
    
      <form action="/api/que/domain/cpu-edit/" method="post" class="field">
        <label class="label">CPU</label>
        <input type="hidden" name="uuid" value="{{domain['uuid']}}">
        <div class="field has-addons">
          <div class="control">
            <span class="select is-small">
              <select class="select" name="cpu" required="required">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="4">4</option>
                <option value="8">8</option>
                <option value="16">16</option>
                <option value="32">32</option>
                <option value="48">48</option>
              </select>
            </span>
          </div>
          <div class="control">
            <button class="button is-primary is-small">Edit</button>
          </div>
        </div>
      </form>
    
    </article>
  </div>
</div>

{% endblock %}