{% extends "Layout.html" %}
{% block content %}
<article class="box">
  <form action="/action/cdrom/change" method="post" class="field">
    <label class="label" for="first-name">Domain</label>
    <select name="path" class="select is-small">
      {% for data in IMG %}
      <option value="{{data['path']}}">{{data['name']}}</option>
      {% endfor %}
    </select>
    <input type="hidden" name="uuid" value="{{DOM[0]}}">
    <input type="hidden" name="target" value="{{DOM[1]}}">
    <div>
      <button name="status" value="edit" class="button is-success is-small">Edit</button>
      <button name="status" value="unmount" class="button is-danger is-small">Unmount</button>
    </div>
   

  </form>
</article>

{% endblock %}