{% extends "Layout.html" %}
{% block content %}

<!-- メインテーブル -->
<article class="box">
  <button id="domain-reload" name="select" value="all" class="button is-primary is-small">
    <span class="icon is-small">
      <i class="fas fa-sync"></i>
    </span>
    <span>Refresh</span>
  </button>
  <button modal-id="modal-domain-define" name="select" value="all" class="button is-primary is-small modal-open">
    <span class="icon is-small">
      <i class="fas fa-plus"></i>
    </span>
    <span>Define</span>
  </button>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Name </th>
        <th style="width: 75px;">Status </th>
        <th>Node </th>
        <th>vCPU </th>
        <th>RAM </th>
        <th>UUID </th>
        <th>Group </th>
        <th>User </th>
      </tr>
    </thead>
    <tbody>
      {% for data in domain %}
      <tr>
        <td><a href="/domain?uuid={{data[5]}}">{{data[0]}}</a></td>

        {% if data[1] == 1 %}
        <td><i class="fa fa-square has-text-primary"></i> Up</td>
        {% elif data[1] == 5 %}
        <td><i class="fa fa-square has-text-dark"></i> Down</td>
        {% elif data[1] == 7 %}
        <td><i class="fa fa-square has-text-warning"></i> Maint</td>
        {% elif data[1] == 10 %}
        <td><i class="fa fa-square has-text-grey-lighter"></i> Del</td>
        {% else %}
        <td><i class="fa fa-square has-text-danger"></i> Lost</td>
        {% endif %}

        <td>{{data[2]}}</td>
        <td>{{data[3]}}</td>
        <td>{{'%0.0f'  % data[4]|float}}</td>
        <td class="a-right" style="font-family:monospace;">{{data[5]}}</td>

        <!-- グループセル -->
        {%if data[9] == None %}
        <td>
          <div class="tags has-addons">
            <span uuid="{{data[5]}}" class="tag is-light modal-open-domain-group"><i class="fa fa-pen"></i></span>
            <span class="tag">{{data[9]}}</span>
          </div>
        </td>
        {%else %}
        <td>
          <div class="tags has-addons">
            <span uuid="{{data[5]}}" class="tag is-light modal-open-domain-group"><i class="fa fa-pen"></i></span>
            <span class="tag is-primary">{{data[9]}}</span>
          </div>
        </td>
        {%endif %}

        <!-- ユーザセル -->
        {%if data[10] == None %}
        <td>
          <div class="tags has-addons">
            <span uuid="{{data[5]}}" class="tag is-light modal-open-domain-user"><i class="fa fa-pen"></i></span>
            <span class="tag">{{data[10]}}</span>
          </div>
        </td>
        {%else %}
        <td>
          <div class="tags has-addons">
            <span uuid="{{data[5]}}" class="tag is-light modal-open-domain-user"><i class="fa fa-pen"></i></span>
            <span class="tag is-primary">{{data[10]}}</span>
          </div>
        </td>
        {%endif %}

      </tr>
      {% endfor %}
    </tbody>
  </table>
</article>

<!-- ユーザーモーダル -->
<div class="modal" id="modal-open-user">
  <div class="modal-background modal-delete"></div>
  <div class="modal-card">
    <form action="/domain" method="post">
      <header class="modal-card-head">
        <p class="modal-card-title">User change</p>
        <span class="delete modal-delete" aria-label="close"></span>
      </header>
      <section class="modal-card-body">
        <select name="user-id" class="select" required="">
          {% for i in users %}
          <option value={{i[0]}}>{{i[0]}}</option>
          {% endfor %}
        </select>
        <input id="modal-uuid-user" type="hidden" name="uuid" value="">
        <input id="modal-target" type="hidden" name="target" value="domain_user">
      </section>
      <footer class="modal-card-foot">
        <button name="status" value="change" class="button is-warning is-small">Change</button>
        <button name="status" value="delete" class="button is-danger is-small">Delete</button>
        <span class="button modal-delete is-small">Cancel</button>
      </footer>
    </form>
  </div>
</div>

<!-- グループモーダル -->
<div class="modal" id="modal-open-group">
  <div class="modal-background modal-delete"></div>
  <div class="modal-card">
    <form action="/domain" method="post">
      <header class="modal-card-head">
        <p class="modal-card-title">Group change</p>
        <span class="delete modal-delete" aria-label="close"></span>
      </header>
      <section class="modal-card-body">
        <select name="group-id" class="select" required="">
          {% for i in groups %}
          <option value={{i[0]}}>{{i[0]}}</option>
          {% endfor %}
        </select>
        <input id="modal-uuid-group" type="hidden" name="uuid" value="">
        <input id="modal-target" type="hidden" name="target" value="domain_group">
      </section>
      <footer class="modal-card-foot">
        <button name="status" value="change" class="button is-warning is-small">Change</button>
        <button name="status" value="delete" class="button is-danger is-small">Delete</button>
        <span class="button modal-delete is-small">Cancel</button>
      </footer>
    </form>
  </div>
</div>

<!-- ドメイン作成モーダル -->
<div class="modal" id="modal-domain-define">
  <div class="modal-background modal-delete"></div>
  <div class="modal-card">
    <form action="/api/que/domain/define" method="post">
      <header class="modal-card-head">
        <p id="step-title" class="modal-card-title">Step 1/4</p>
        <span class="delete modal-delete" aria-label="close"></span>
      </header>
      <section class="modal-card-body">

        <div id="step-1">
          <div class="field is-horizontal">
            <label class="field-label is-normal label">Node</label>
            <select id="node-list" name="node" class="select is-small field-body field" required>
              <option></option>
              {%for i in node%}
              <option value="{{i[0]}}">{{i[0]}}</option>
              {%endfor%}
            </select>
          </div>
          <div class="field is-horizontal">
            <label class="field-label is-normal label">Type</label>
            <select id="list-type" name="type" class="select is-small field-body field" required>
              <option></option>
              <option value="archive">By img template</option>
              <option value="img">Clone vm img</option>
              <option value="empty">Install to empty img</option>
            </select>
          </div>
        </div>

        <div id="step-2">
          <div id="step-2-archive" style="display: none;">
            <div class="field is-horizontal">
              <label class="field-label is-normal label">Storage</label>
              <select id="storage-list" name="pool" class="select is-small field-body" required></select>
            </div>
  
            <div class="field is-horizontal">
              <label class="field-label is-normal label">Archive</label>
              <select id="archive-list" name="archive" class="select is-small field-body" required></select>
            </div>
          </div>
          <div id="step-2-empty" style="display: none;">
            <div class="field is-horizontal">
              <label class="field-label is-normal label">Size</label>
              <input id="input-size" name="disk-size" class="input is-small field-body" required type="number" placeholder="64"></input>
            </div>
          </div>
          <div id="step-2-img" style="display: none;">
        
          </div>
        </div>

        <div id="step-3">
          <div id="define-interface">
            <div class="unit field is-horizontal">
              <label class="field-label is-normal label">Network</label>
              <div class="field has-addons field-body">
                <div class="control">
                  <select name="networks" class="select network-list is-small field-body" required></select>
                </div>
                <div class="control">
                  <span class="interface-op-remove button is-danger is-small">-</span>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="field is-grouped is-grouped-right">
            <span id="interface-op-add" class="button is-primary is-small control">+</span>
          </div>
        </div>

        <div id="step-4">
          <div class="field is-horizontal">
            <label class="field-label is-normal label" for="last-name">Name</label>
            <input type="text" id="domain-name" name="name" required class="input is-small field-body">
          </div>

          <div class="field is-horizontal">
            <label class="field-label label">vCPU</label>
            <select id="node_list" class="select is-small field-body" name="cpu" required>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="4">4</option>
              <option value="8">8</option>
              <option value="16">16</option>
              <option value="32">32</option>
              <option value="48">48</option>
            </select>
          </div>

          <div class="field is-horizontal">
            <label class="field-label is-normal label">Memory</label>
            <select id="node_list" class="select is-small field-body" name="memory" required>
              <option value="512">512MB</option>
              <option value="1024">1024MB</option>
              <option value="2048">2048MB</option>
              <option value="4096">4096MB</option>
              <option value="8192">8192MB</option>
              <option value="16384">16GB</option>
              <option value="32768">32GB</option>
              <option value="65536">64GB</option>
              <option value="13072">128GB</option>
            </select>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot field is-grouped is-grouped-right">
        <span id="prev-step" class="button is-small control is-warning">Prev</span>
        <span id="next-step" class="button is-small control is-info">Next</span>
        <button id="submit-step" class="button is-primary is-small control">Submit</button>
      </footer>
    </form>
  </div>
</div>

{% endblock %}


{% block javascript %}
<script>
  $(function () {
  var stepCounter = 1;

  $("#step-2").css("display", "none");
  $("#step-3").css("display", "none");
  $("#step-4").css("display", "none");
  $("#submit-step").hide();

  $("#next-step").click(function () {
    if (stepCounter < 4) {
      $("#step-" + stepCounter).slideUp(600, function () {
        $("#step-title").text("Step " + stepCounter + "/4");
      });
      stepCounter = stepCounter + 1;
      $("#step-" + stepCounter).slideDown(600, function () {
        $("#step-title").text("Step " + stepCounter + "/4");
      });
    }
    if (stepCounter == 4) {
      $("#next-step").hide();
      $("#submit-step").show();
    }
  });
  $('#prev-step').on('click', function () {
    if (stepCounter > 1) {
      $("#step-" + stepCounter).slideUp(300, function () {
        $("#step-title").text("Step " + stepCounter + "/4");
      });
      stepCounter = stepCounter - 1;
      $("#step-" + stepCounter).slideDown(300, function () {
        $("#step-title").text("Step " + stepCounter + "/4");
      });
    }
    if (stepCounter == 3) {
      $("#next-step").show();
      $("#submit-step").hide();
    }
  });
});
</script>
{% endblock %}