{% extends "layout.html" %}
{% block content %}

<div class="right_col" role="main">
    <div class="">
        <div class="row top_tiles">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                <div class="icon"><i class="fa fa-at"></i></div>
                <div class="count">{{domain['name']}}</div>
                <h3>NAME</h3></div>
            </div>  
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                <div class="icon"><i class="fa fa-rocket"></i></div>
                <div class="count">{{domain['vnc'][1]}}</div>
                <h3>VNC-AUTO</h3></div>
            </div> 
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                <div class="icon"><i class="fa fa-flash"></i></div>
                <div class="count">{{domain['vnc'][0]}}</div>
                <h3>VNC</h3></div>
            </div>        
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                <div class="icon"><i class="fa fa-anchor"></i></div>
                <div class="count">{{domain['vnc'][3]}}</div>
                <h3>VNC-PASS</h3></div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                <div class="icon"><i class="fa fa-cubes"></i></div>
                <div class="count">{{domain['node-name']}}</div>
                <h3>NODE_NAME</h3></div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                <div class="icon"><i class="fa fa-cubes"></i></div>
                <div class="count">{{domain['node-ip']}}</div>
                <h3>NODE_IP</h3></div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                <div class="icon"><i class="fa fa-cubes"></i></div>
                <div class="count">{{domain['selinux']}}</div>
                <h3>SElinux</h3></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Device_List <small>beta</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th>
                                        <input type="checkbox" id="check-all" class="flat">
                                        </th>
                                        <th class="column-title">Device </th>
                                        <th class="column-title">Type </th>
                                        <th class="column-title">Source </th>
                                        <th class="column-title">Target </th>
                                        <th class="column-title">Edit </th>
                                        </th>
                                        <th class="bulk-actions" colspan="7">
                                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dom in domain['disk'] %}
                                    <tr class="even pointer">
                                        <td class="a-center ">
                                        <input type="checkbox" class="flat" name="table_records">
                                        </td>
                                        <td class=" ">{{dom[0]}}</td>
                                        <td class=" ">{{dom[1]}}</td>
                                        <td class=" ">{{dom[2]}}</td>
                                        <td class=" ">{{dom[3]}}</td>
                                        <td class=" last"><a href="/domain/{{domain['uuid']}}/disk/{{dom[3]}}">Edit</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Nic_List <small>beta</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th>
                                        <input type="checkbox" id="check-all" class="flat">
                                        </th>
                                        <th class="column-title">Type </th>
                                        <th class="column-title">Mac </th>
                                        <th class="column-title">Target </th>
                                        <th class="column-title">Source </th>
                                        <th class="column-title">Edit </th>
                                        </th>
                                        <th class="bulk-actions" colspan="7">
                                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dom in domain['interface'] %}
                                    <tr class="even pointer">
                                        <td class="a-center ">
                                        <input type="checkbox" class="flat" name="table_records">
                                        </td>
                                        <td class=" ">{{dom[0]}}</td>
                                        <td class=" ">{{dom[1]}}</td>
                                        <td class=" ">{{dom[2]}}</td>
                                        <td class=" ">{{dom[3]}}</td>
                                        <td class=" last"><a href="/domain/{{domain['uuid']}}/nic/{{dom[1]}}">Edit</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <form method="post" action="/api/selinux">
                        <input type="hidden" name="_method" value="DELETE">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button name="uuid" value="{{domain[10]}}" class="btn btn-success">disable selinux</button>
                        </div>
                    </form>

                </div>
            </div>


        </div>
    </div>
</div>


{% endblock %}