{% extends "Layout.html" %}
{% block content %}

<div class="tile is-ancestor has-text-centered">
  <div class="tile is-parent is-6">
    <article class="tile is-child box">
      <p class="title">{{xml['name']}}</p>
      <p class="subtitle">Name</p>
    </article>
  </div>
  <div class="tile is-parent is-3">
    <article class="tile is-child box">
      <p class="title">{{xml['node-name']}}</p>
      <p class="subtitle">Node</p>
    </article>
  </div>
  <div class="tile is-parent is-3">
    <article class="tile is-child box">
      {% if db[0][1] == 1 %}
      <p class="title">Up</p>
      {% elif db[0][1] == 5 %}
      <p class="title">Down</p>
      {% elif db[0][1] == 7 %}
      <p class="title">Maint</p>
      {% else %}
      <p class="title">Lost</p>
      {% endif %}
      <p class="subtitle">Status</p>
    </article>
  </div>
</div>

<div class="columns is-vcentered is-multiline">
  <div class="column">
    <article class="box">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Column </th>
            <th>Value </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Node name on which this domain</td>
            <td>{{xml['node-name']}}</td>
          </tr>
          <tr>
            <td>Node ip on which this domain</td>
            <td>{{xml['node-ip']}}</td>
          </tr>
          <tr>
            <td>Vnc port</td>
            <td>{{xml['vnc'][0]}}</td>
          </tr>
          <tr>
            <td>Auto vnc port mapping</td>
            <td>{{xml['vnc'][1]}}</td>
          </tr>
          <tr>
            <td>Allow vnc connection host</td>
            <td>{{xml['vnc'][2]}}</td>
          </tr>
          <tr>
            <td>Vnc password</td>
            <td>{{xml['vnc'][3]}}</td>
          </tr>
          <tr>
            <td>Selinux enforse</td>
            <td>{{xml['selinux']}}</td>
          </tr>
          <tr>
            <td>Boot device</td>
            <td>{{xml['boot']}}</td>
          </tr>
        </tbody>
      </table>
    </article>
  </div>
  <div class="column">
    <article class="box">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Device </th>
            <th>Type </th>
            <th>Source </th>
            <th>Target </th>
            <th>Edit </th>
          </tr>
        </thead>
        <tbody>
          {% for dom in xml['disk'] %}
          <tr>
            <td>{{dom[0]}}</td>
            <td>{{dom[1]}}</td>
            <td>{{dom[2]}}</td>
            <td>{{dom[3]}}</td>
            {% if dom[0] == "cdrom" %}
            <td class=" last"><a href="/domain?ui=cdrom&uuid={{xml['uuid']}}&target={{dom[3]}}"><span class="fa fa-edit has-text-link"></span></a>
              {% else %}
            <td class=" last">-</a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </article>
    <article class="box">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Type </th>
            <th>Mac </th>
            <th>Target </th>
            <th>Source </th>
            <th>Edit </th>
          </tr>
        </thead>
        <tbody>
          {% for dom in xml['interface'] %}
          <tr>
            <td>{{dom[0]}}</td>
            <td>{{dom[1]}}</td>
            <td>{{dom[2]}}</td>
            <td>{{dom[3]}}</td>
            <td class="last"><i class="fa fa-edit has-text-link open-interface" id={{dom[1]}}></i></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </article>
  </div>
  <div class="column is-narrow">
    <article class="box">
      <form method="post" action="/api/que/domain/power" class="field">
        <label class="label">Power</label>
        <input type="hidden" name="domain-list" value="{{xml['name']}}">
        {% if db[0][1] == 1 %}
        <button name="status" value="poweron" class="button is-success is-small" disabled>PowerON</button>
        <button name="status" value="poweroff" class="button is-danger is-small">PowerOFF</button>
        {% elif db[0][1] == 5 %}
        <button name="status" value="poweron" class="button is-success is-small">PowerON</button>
        <button name="status" value="poweroff" class="button is-danger is-small" disabled>PowerOFF</button>
        {% elif db[0][1] == 7 %}
        <button name="status" value="poweron" class="button is-success is-small" disabled>PowerON</button>
        <button name="status" value="poweroff" class="button is-danger is-small" disabled>PowerOFF</button>
        {% else %}
        <button name="status" value="poweron" class="button is-success is-small" disabled>PowerON</button>
        <button name="status" value="poweroff" class="button is-danger is-small" disabled>PowerOFF</button>
        {% endif %}
        
      </form>

      <form method="post" action="/action/selinux" class="field">
        <label class="label">SElinux</label>
        <input type="hidden" name="uuid" value="{{xml['uuid']}}">
        <button name="state" value="disable" class="button is-danger is-small">Disable</button>
      </form>

      <form class="field">
        <label class="label">Undefine</label>
        <span id="modal-open-undefine" class="button is-danger is-small">Confirm</span>
      </form>

      <form action="/api/que/domain/name-edit" method="post" class="field">
        <label class="label">Edit name</label>
        <input type="hidden" name="uuid" value="{{xml['uuid']}}">
        <div class="field has-addons">
          <div class="control">
            <input name="newname" class="input control is-small" type="text" placeholder="Name">
          </div>
          <div class="control">
            <button class="button is-link is-small">Edit</a>
          </div>
        </div>
      </form>

      <form action="/api/que/domain/memory-edit" method="post" class="field">
        <label class="label">Memory</label>
        <input type="hidden" name="uuid" value="{{xml['uuid']}}">
        <div class="field has-addons">
          <div class="control">
            <span class="select is-small">
              <select class="select" name="memory" required="required">

                {% set memory = [['512','512MB'],['1024','1GB'],['2048','2GB'],['4096','4GB'],['8192','8GB'],['16384','16GB'],['32768','32GB'],['65536','64GB'],['13072','128GB']] %}
                {% for i in memory%}
                  {% if i[0] == db[0][4]|replace('.0', '')%}
                  <option value="{{i[0]}}" selected>{{i[1]}}</option>
                  {% else %}
                  <option value="{{i[0]}}">{{i[1]}}</option>
                  {% endif %}
                {% endfor %}
              
              </select>
            </span>
          </div>
          <div class="control">
            <button class="button is-link is-small">Edit</button>
          </div>
        </div>
      </form>

      <form action="/api/que/domain/cpu-edit" method="post" class="field">
        <label class="label">CPU</label>
        <input type="hidden" name="uuid" value="{{xml['uuid']}}">
        <div class="field has-addons">
          <div class="control">
            <span class="select is-small">
              <select class="select" name="cpu" required="required">
                {% set cpu = ['1','2','4','8','12','16','24','32','48','64','96'] %}
                {% for i in cpu%}
                {% if i == db[0][3]%}
                <option value="{{i}}" selected>{{i}}</option>
                {% else %}
                <option value="{{i}}">{{i}}</option>
                {% endif %}
              {% endfor %}
              
              </select>
            </span>
          </div>
          <div class="control">
            <button class="button is-link is-small">Edit</button>
          </div>
        </div>
      </form>

    </article>
  </div>
</div>

<div class="modal" id="modal-interface">
  <div class="modal-background modal-delete"></div>
  <div class="modal-card">
    <form action="/api/que/domain/nic-edit" method="post" class="">
      <header class="modal-card-head">
        <p class="modal-card-title">Interface change</p>
        <span class="delete modal-delete" aria-label="close"></span>
      </header>
      <section class="modal-card-body">
        <label class="label" for="first-name">to *</label>
        <select name="network" class="select" required="">
          {% for interface in net[0] %}
          <option value={{interface}}>Interface Bridge @{{interface}}</option>
          {% endfor %}
          {% for network in net[1] %}
          <option value="{{network['name']}}">{{network['name']}}</option>
          {% endfor %}
        </select>
        <input type="hidden" name="uuid" value="{{xml['uuid']}}">
        <input type="hidden" name="mac" value="" id="modal-mac">
      </section>
      <footer class="modal-card-foot">
        <button class="button is-link">Post queue</button>
        <span class="button modal-delete">Cancel</button>
      </footer>
    </form>
  </div>
</div>

<div class="modal" id="modal-undefine">
  <div class="modal-background modal-delete"></div>
  <div class="modal-card">
    <form action="/api/que/domain/undefine" method="post">
      <header class="modal-card-head">
        <p class="modal-card-title">Undefine</p>
        <span class="delete modal-delete" aria-label="close"></span>
      </header>
      <section class="modal-card-body">
        Task is ignored if the virtual machine is powered on
        <input type="hidden" name="uuid" value="{{xml['uuid']}}">
      </section>
      <footer class="modal-card-foot">
        <button name="status" value="undefine" class="button is-danger">Undefine</button>
        <span class="button modal-delete">Cancel</button>
      </footer>
    </form>
  </div>
</div>

{% endblock %}