{% extends "Layout.html" %}
{% block content %}

<article class="box">
  <form action="/api/que/domain/list-reload" method="post">
    <button name="select" value="all" class="button is-primary is-small">
      <span class="icon is-small">
        <i class="fas fa-sync"></i>
      </span>
      <span>Refresh</span>
    </button>
  </form>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Name </th>
          <th style="width: 75px;">Status </th>
          <th>Node </th>
          <th>vCPU </th>
          <th>RAM </th>
          <th>UUID </th>
          <th>Group </th>
          <th>User </th>
        </tr>
      </thead>
      <tbody>
        {% for data in domain %}
        <tr>
          <td><a href="/domain?uuid={{data[5]}}">{{data[0]}}</a></td>

          {% if data[1] == 1 %}
          <td><i class="fa fa-square has-text-primary"></i> Up</td>
          {% elif data[1] == 5 %}
          <td><i class="fa fa-square has-text-dark"></i> Down</td>
          {% elif data[1] == 7 %}
          <td><i class="fa fa-square has-text-warning"></i> Maint</td>
          {% else %}
          <td><i class="fa fa-square has-text-danger"></i> Lost</td>
          {% endif %}

          <td>{{data[2]}}</td>
          <td>{{data[3]}}</td>
          <td>{{'%0.0f'  % data[4]|float}}</td>
          <td class="a-right" style="font-family:monospace;">{{data[5]}}</td>

          {%if data[9] == None %}
          <td><span uuid="{{data[5]}}" class="tag is-light modal-open-domain-group">{{data[9]}}</button></td>
          {%else %}
          <td><span uuid="{{data[5]}}" class="tag is-dark modal-open-domain-group">{{data[9]}}</span></td>
          {%endif %}

          {%if data[10] == None %}
          <td><span uuid="{{data[5]}}" class="tag is-light modal-open-domain-user">{{data[10]}}</span></td>
          {%else %}
          <td><span uuid="{{data[5]}}" class="tag is-dark modal-open-domain-user">{{data[10]}}</span></td>
          {%endif %}

        </tr>
        {% endfor %}
      </tbody>
    </table>
</article>



<div class="modal" id="modal-open-user">
  <div class="modal-background modal-delete"></div>
  <div class="modal-card">
    <form action="/action/owner/change" method="post">
      <header class="modal-card-head">
        <p class="modal-card-title">User change</p>
        <span class="delete modal-delete" aria-label="close"></span>
      </header>
      <section class="modal-card-body">
        <select name="userid" class="select" required="">
          {% for i in users %}
          <option value={{i[0]}}>{{i[0]}}</option>
          {% endfor %}
        </select>
        <input id="modal-uuid-user" type="hidden" name="uuid" value="">
        <input id="modal-target" type="hidden" name="target" value="domain_user">
      </section>
      <footer class="modal-card-foot">
        <button name="status" value="change" class="button is-warning">Change</button>
        <button name="status" value="delete" class="button is-danger">Delete</button>
        <span class="button modal-delete">Cancel</button>
      </footer>
    </form>
  </div>
</div>

<div class="modal" id="modal-open-group">
  <div class="modal-background modal-delete"></div>
  <div class="modal-card">
    <form action="/action/owner/change" method="post">
      <header class="modal-card-head">
        <p class="modal-card-title">Group change</p>
        <span class="delete modal-delete" aria-label="close"></span>
      </header>
      <section class="modal-card-body">
        <select name="groupid" class="select" required="">
          {% for i in groups %}
          <option value={{i[0]}}>{{i[0]}}</option>
          {% endfor %}
        </select>
        <input id="modal-uuid-group" type="hidden" name="uuid" value="">
        <input id="modal-target" type="hidden" name="target" value="domain_group">
      </section>
      <footer class="modal-card-foot">
        <button name="status" value="change" class="button is-warning">Change</button>
        <button name="status" value="delete" class="button is-danger">Delete</button>
        <span class="button modal-delete">Cancel</button>
      </footer>
    </form>
  </div>
</div>

{% endblock %}