{% extends "Layout.html" %}
{% block content %}
<article class="box">
    <button modal-id="modal-group-add" class="button is-primary is-small modal-open">
        <span class="icon is-small">
            <i class="fas fa-users"></i>
        </span>
        <span>Add</span>
    </button>
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>GroupID</th>
                <th>User</th>
                <th class="has-text-centered">Assgin</th>
                <th class="has-text-centered">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for data in groups %}
            <tr>
                <td>{{data[0]}}</td>
                <td>
                    {% for i in tag[data[0]] %}
                        {% if i == "admin" %}
                        <span class="tag">{{i}}</span>
                        {% else %}
                        <span class="tag">{{i}}<button userid="{{i}}" groupid="{{data[0]}}" class="delete is-small modal-open-group"></button></span>
                        {% endif %}                    
                    {% endfor %}
                </td>
                <td class="has-text-centered">
                    <span class="modal-open fa fa-pen" group-id={{data[0]}} modal-id="modal-group-assgin"></span>
                </td>
                <td class="has-text-centered">
                    {% if not data[0] == "admin" %}
                    <span class="modal-open fa fa-times" group-id={{data[0]}} modal-id="modal-group-delete"></span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</article>

<div class="modal" id="modal-group">
    <div class="modal-background modal-delete"></div>
    <div class="modal-card">
        <form action="/group" method="post">
            <input type="hidden" name="method" value="leave">
            <header class="modal-card-head">
                <p class="modal-card-title">Delete</p>
                <span class="delete modal-delete" aria-label="close"></span>
            </header>
            <section class="modal-card-body">
                Remove a user from a group
                <input id="modal-group-id" type="hidden" name="group-id" value="">
                <input id="modal-user-id" type="hidden" name="user-id" value="">
            </section>
            <footer class="modal-card-foot">
                <button class="button is-danger">Delete</button>
                <span class="button modal-delete">Cancel</button>
            </footer>
        </form>
    </div>
</div>

<div class="modal" id="modal-group-delete">
    <div class="modal-background modal-delete"></div>
    <div class="modal-card">
        <form action="/group" method="post">
            <input type="hidden" name="method" value="delete">
            <header class="modal-card-head">
                <p class="modal-card-title">Delete</p>
                <span class="delete modal-delete" aria-label="close"></span>
            </header>
            <section class="modal-card-body">
                Remove a group
                <input class="modal-group-id" type="hidden" name="group-id" value="">
            </section>
            <footer class="modal-card-foot">
                <button class="button is-danger">Delete</button>
                <span class="button modal-delete">Cancel</button>
            </footer>
        </form>
    </div>
</div>

<div class="modal" id="modal-group-add">
    <div class="modal-background modal-delete"></div>
    <div class="modal-card">
        <form action="/group" method="post">
            <input type="hidden" name="method" value="add">
            <header class="modal-card-head">
                <p class="modal-card-title">Add</p>
                <span class="delete modal-delete" aria-label="close"></span>
            </header>
            <section class="modal-card-body">
                <label class="label">Group ID</label>
                <div>
                    <input type="text" name="group-id" required class="input is-small">
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-danger">Add</button>
                <span class="button modal-delete">Cancel</button>
            </footer>
        </form>
    </div>
</div>

<div class="modal" id="modal-group-assgin">
    <div class="modal-background modal-delete"></div>
    <div class="modal-card">
        <form action="/group" method="post">
            <input type="hidden" name="method" value="assgin">
            <header class="modal-card-head">
                <p class="modal-card-title">Assgin</p>
                <span class="delete modal-delete" aria-label="close"></span>
            </header>
            <section class="modal-card-body">
                <label class="label">User ID</label>
                <select name="user-id" class="select is-small" required>
                    {% for i in users %}
                    <option value={{i[0]}}>{{i[0]}}</option>
                    {% endfor %}
                </select>

                <input class="modal-group-id" type="hidden" name="group-id" value="">
            </section>
            <footer class="modal-card-foot">
                <button class="button is-danger">Assgin</button>
                <span class="button modal-delete">Cancel</button>
            </footer>
        </form>
    </div>
</div>

{% endblock %}