{% extends "Layout.html" %}
{% block content %}

<article class="box">
    <table class="table is-fullwidth">
        <thead>
            <tr>      
                <th>Node </th>
                <th>Pool </th>
                <th>Name </th>
                <th>Capa </th>
                <th>Allocation </th>
                <th>Physical </th>
                <th>Path </th>
                <th>Domain </th>
                <th>Edit </th>
                <th>Delete </th>
            </tr>
        </thead>
        <tbody>
            {% for image in images %}
            <tr>
                <td class=" ">{{image[1]}}</td>
                <td class=" ">{{image[2]}}</td>
                <td class=" ">{{image[0]}}</td>
                <td class=" ">{{image[3]}}G</td>
                <td class=" ">{{image[4]}}G</td>
                <td class=" ">{{image[5]}}G</td>
                <td class=" ">{{image[6]}}</td>
                <td class=" ">{{image[7]}}</td>
                <td class=" "><a href="/ui/edit/image/{{image[0]}}/{{image[2]}}/{{image[0]}}">Edit</a></td>
                <td class=" "><a href="/ui/edit/image/{{image[0]}}/{{image[2]}}/{{image[0]}}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</article>


<article class="box">
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Node </th>
                <th>Name </th>
                <th>Capa </th>
                <th>Available </th>
                <th>Path </th>
            </tr>
        </thead>
        <tbody>
            {% for pool in pools %}
            <tr>
                <td class=" ">{{pool[1]}}</td>
                <td class=" ">{{pool[0]}}</td>
                <td class=" ">{{pool[3]}}G</td>
                <td class=" ">{{pool[4]}}G</td>
                <td class=" ">{{pool[7]}}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</article>

{% endblock %}