{% extends "layout.html" %}
{% block content %}

<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Image List <small>beta</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th>
                                        <input type="checkbox" id="check-all" class="flat">
                                        </th>
                                        <th class="column-title">Node </th>
                                        <th class="column-title">Pool </th>
                                        <th class="column-title">Name </th>
                                        <th class="column-title">Capa </th>
                                        <th class="column-title">Physical </th>
                                        <th class="column-title">Path </th>
                                        <th class="column-title">Delete </th>
                                        </th>
                                        <th class="bulk-actions" colspan="7">
                                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for image in datas['image'] %}
                                    
                                    <tr class="even pointer">
                                        <td class="a-center ">
                                        <input type="checkbox" class="flat" name="table_records">
                                        </td>
                                        <td class=" ">{{image['node']}}</td>
                                        <td class=" ">{{image['pool']}}</td>
                                        <td class=" ">{{image['data']['name']}}</td>
                                        <td class=" ">{{image['data']['capacity']}}{{image['data']['capacity-unit']}}</td>
                                        <td class=" ">{{image['data']['physical']}}{{image['data']['physical-unit']}}</td>
                                        <td class=" ">{{image['data']['path']}}</td>
                                        <td class=" "><a href="/image/delete/{{image['node']}}/{{image['pool']}}/{{image['data']['name']}}">Delete</a></td>
                                        </td>
                                    </tr>
                                    
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>    
                    </div>
                </div>
            </div>
            
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Pool Lsit <small>beta</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th>
                                        <input type="checkbox" id="check-all" class="flat">
                                        </th>
                                        <th class="column-title">Node </th>
                                        <th class="column-title">Name </th>
                                        <th class="column-title">Capa </th>
                                        <th class="column-title">Physical </th>
                                        <th class="column-title">Path </th>
                                        </th>
                                        <th class="bulk-actions" colspan="7">
                                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for image in datas['pool'] %}
                                    
                                    <tr class="even pointer">
                                        <td class="a-center ">
                                        <input type="checkbox" class="flat" name="table_records">
                                        </td>
                                        <td class=" ">{{image['node']}}</td>
                                        <td class=" ">{{image['name']}}</td>
                                        <td class=" ">{{image['capacity']}}{{image['capacity-unit']}}</td>
                                        <td class=" ">{{image['available']}}{{image['available-unit']}}</td>
                                        <td class=" ">{{image['path']}}</td>
                                        </td>
                                    </tr>
                                    
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>    
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}