{% extends "LayoutHead.html" %}
{% block body %}

<body>
  <nav class="navbar is-transparent is-primary">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item is-size-4 has-text-weight-semibold" href="#">VIRTY</a>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">Home</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            {% if current_user.is_authenticated %}
            <a class="navbar-link" href="#">{{ current_user.get_id() }}</a>
            {% endif %}
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="/logout">Logout </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <section class="section">
    <main class="columns">
      <div class="column is-narrow-desktop is-narrow-touch">
        <aside class="box menu">
          <p class="menu-label">Administrator</p>
          <ul class="menu-list is-size-6" id="nav">
            <li><a href="/ui/domain"><span class="icon is-small"><i class="fas fa-server"></i></span>&nbsp;Machine</a></li>
            <li><a href="/ui/archive"><span class="icon is-small"><i class="fas fa-box "></i></span>&nbsp;Template</a></li>
            <li><a href="/ui/network"><span class="icon is-small"><i class="fas fa-cloud"></i></span>&nbsp;Network</a></li>
            <li><a href="/ui/image"><span class="icon is-small"><i class="fas fa-hdd"></i></span>&nbsp;Disk</a></li>
            <li><a href="/ui/storage"><span class="icon is-small"><i class="fas fa-database"></i></span>&nbsp;Storage</a></li>
            <li><a href="/ui/node"><span class="icon is-small"><i class="fas fa-cubes"></i></span>&nbsp;Node</a></li>
            <li><a href="/ui/que"><span class="icon is-small"><i class="fas fa-coffee"></i></span>&nbsp;Task</a></li>
            <li><a href="/ui/users"><span class="icon is-small"><i class="fas fa-user"></i></span>&nbsp;Users</a></li>
            <li><a href="/ui/groups"><span class="icon is-small"><i class="fas fa-users"></i></span>&nbsp;Groups</a></li>
          </ul>
          <p class="menu-label">Resource</p>
          <ul class="menu-list is-size-6" id="nav">
            <li><a href="/ui/make/domain"><span class="icon is-small"><i class="fas fa-server"></i></span>&nbsp;Machine</a></li>
            <li><a href="/ui/make/network"><span class="icon is-small"><i class="fas fa-cloud"></i></span>&nbsp;Network</a></li>
            <li><a href="/ui/make/storage"><span class="icon is-small"><i class="fas fa-database"></i></span>&nbsp;Storage</a></li>
            <li><a href="/ui/make/node"><span class="icon is-small"><i class="fas fa-cubes"></i></span>&nbsp;Node</a></li>
            <li><a href="/ui/make/user"><span class="icon is-small"><i class="fas fa-user"></i></span>&nbsp;Users</a></li>
          </ul>
        </aside>
      </div>
      <div class="column">
        {% block content %}
        {% endblock %}
      </div>

    </main>
  </section>

</body>

{% endblock %}