{% extends "LayoutHead.html" %}
{% block body %}

<body>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <div class="box">
            <form action="/login" method="post">
              <div class="field">
                <label class="label">UserID</label>
                <div class="control has-icons-left">
                  <input class="input" name="username" type="text" placeholder="UserID" autofocus="">
                  <span class="icon is-small is-left"><i class="fa fa-id-card"></i></span>
                </div>
              </div>
              <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left">
                  <input class="input" name="password" type="password" placeholder="Password">
                  <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
                </div>
              </div>
              <hr>
              <button class="button is-block is-primary is-fullwidth">Login</button>
            </form>
          </div>
          <p class="has-text-grey">
            <a href="#">Sign Up</a> &nbsp;·&nbsp;
            <a href="#">Forgot Password</a> &nbsp;·&nbsp;
            <a href="https://github.com/hibiki31/virty">Github</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <script async type="text/javascript" src="../js/bulma.js"></script>
</body>
{% endblock %}