{% extends "Layout.html" %}
{% block content %}

<article class="box">
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th class="column-title">Name </th>
                <th class="column-title">Node </th>
                <th class="column-title">Source </th>
                <th class="column-title">UUID </th>
                <th class="column-title">Type </th>
                <th class="column-title">DHCP </th>
            </tr>
        </thead>
        <tbody>
            {% for network in networks %}
            <tr>
                <td class=" ">{{network[0]}}</td>
                <td class=" ">{{network[3]}}</td>
                <td class=" ">{{network[1]}}</td>
                <td class=" ">{{network[2]}}</td>
                <td class=" ">{{network[4]}}</td>
                <td class=" ">{{network[5]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</article>

<article class="box">
    <form action="/api/que/network/undefine/" method="post" class="field">
        <label class="label">削除</label>
        <select id="domain-list" name="uuid" class="select" required="">
            {% for network in networks %}
            <option value={{network[2]}}>{{network[0]}} @{{network[1]}}</option>
            {% endfor %}
        </select>
        <button name="status" value="undefine" class="button is-danger">Undefine</button>
    </form>
</article>

<article class="box">
    <form action="/api/que/network/internal-define/" method="post" class="field">
        <label class="label">内部ネットワーク作成</label>
                <select id="node-list" name="node" class="select" required="">
                    <option value=""></option>
                </select>
                <input type="text" id="net-name" name="net-name" required="required" class="input">
                <button class="button is-success">Submit</button>
            </div>
        </div>
    </form>
</article>

{% endblock %}