{% extends "Layout.html" %}
{% block content %}

<article class="box">
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th class="column-title">ID </th>
                <th class="column-title">Time </th>
                <th class="column-title">Status </th>
                <th class="column-title">Object </th>
                <th class="column-title">Method </th>
                <th class="column-title">Json </th>
                <th class="column-title">Mesg </th>
                <th class="column-title">Run </th>
            </tr>
        </thead>
        <tbody>
            {% for dom in domain %}
            <tr>
                <td class=" ">{{dom[0]}}</td>
                <td class=" ">{{dom[1]}}</td>
                {% if dom[2] == "running" %}
                <td class=" "><i class="fa fa-square has-text-link"></i> running</td>
                {% elif dom[2] == "init" %}
                <td class=" "><i class="fa fa-square has-text-dark"></i> init</td>
                {% elif dom[2] == "success" %}
                <td class=" "><i class="fa fa-square has-text-primary"></i> success</td>
                {% elif dom[2] == "skip" %}
                <td class=" "><i class="fa fa-square has-text-info"></i> skip</td>
                {% else %}
                <td class=" "><i class="fa fa-square has-text-danger"></i> error</td>
                {% endif %}
                <td class=" ">{{dom[3]}}</td>
                <td class=" ">{{dom[4]}}</td>
                <td class=" ">{{dom[5]}}</td>
                <td class=" ">{{dom[6]}}</td>
                <td class=" ">{{'%0.1f' % dom[7]|float}} s</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</article>


<article class="box">
    <a class="label">{{status}}</a>
    <form action="/api/add/que_clear" method="post" class="field">
        <button name="status" value="que_clear" class="button is-danger">Delete</button>
    </form>
</article>


{% endblock %}