{% extends "Layout.html" %}
{% block content %}
<article class="box">
    <button name="select" value="all" modal-id="modal-user-add" class="button is-primary is-small modal-open">
        <span class="icon is-small">
            <i class="fas fa-user-plus"></i>
        </span>
        <span>Add</span>
    </button>
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Name</th>
                <th>Groups</th>
                <th class="has-text-centered">Reset</ht>
                <th class="has-text-centered">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for data in users %}
            <tr>
                <td>{{data[0]}}</td>
                <td>
                    {% for i in groups[data[0]] %}
                    <span class="tag">{{i}}</span>
                    {% endfor %}
                </td>
                <td class="has-text-centered">
                    <span class="modal-open fa fa-pen" user-id={{data[0]}} modal-id="modal-user-reset"></span>
                </td>
                <td class="has-text-centered">
                    {% if not data[0] == "admin" %}
                    <span class="modal-open fa fa-times" user-id={{data[0]}} modal-id="modal-user-delete"></span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</article>

<div class="modal" id="modal-user-delete">
    <div class="modal-background modal-delete"></div>
    <div class="modal-card">
        <form action="/user" method="post">
            <input type="hidden" name="method" value="delete">
            <header class="modal-card-head">
                <p class="modal-card-title">Delete</p>
                <span class="delete modal-delete" aria-label="close"></span>
            </header>
            <section class="modal-card-body">
                Remove a user
                <input class="modal-user-id" type="hidden" name="user-id" value="">
            </section>
            <footer class="modal-card-foot">
                <button class="button is-danger">Delete</button>
                <span class="button modal-delete">Cancel</button>
            </footer>
        </form>
    </div>
</div>

<div class="modal" id="modal-user-reset">
    <div class="modal-background modal-delete"></div>
    <div class="modal-card">
        <form action="/user" method="post">
            <input type="hidden" name="method" value="reset">
            <header class="modal-card-head">
                <p class="modal-card-title">Reset</p>
                <span class="delete modal-delete" aria-label="close"></span>
            </header>
            <section class="modal-card-body">
                Reset user password
                <input class="modal-user-id" type="hidden" name="user-id" value="">
                <input class="input" type="password" name="password">
            </section>
            <footer class="modal-card-foot">
                <button class="button is-danger">Reset</button>
                <span class="button modal-delete">Cancel</button>
            </footer>
        </form>
    </div>
</div>

<div class="modal" id="modal-user-add">
    <div class="modal-background modal-delete"></div>
    <div class="modal-card">
        <form action="/user" method="post">
            <input type="hidden" name="method" value="add">
            <header class="modal-card-head">
                <p class="modal-card-title">Add</p>
                <span class="delete modal-delete" aria-label="close"></span>
            </header>
            <section class="modal-card-body">
                <label class="label">Userid</label>
                <div>
                    <input type="text" name="user-id" required="required" class="input is-small">
                </div>
                <label class="label">Password</label>
                <div>
                    <input type="password" name="password" required="required" class="input is-small">
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-danger is-small">Add</button>
                <span class="button modal-delete is-small">Cancel</button>
            </footer>
        </form>
    </div>
</div>


{% endblock %}