.git
.gitignore
.mypy_cache
.pytest_cache
.ruff_cache
.coverage
coverage.xml
htmlcov
__pycache__
*.py[cod]
*.log
.env
.env.*
data
tests/env*.json
tests/external/*.json
.devcontainer
compose*.yml
test.sh
