# pip list -o

# Ansible
ansible>=9.1.0
ansible-base>=2.10.17
# FastAPI
fastapi>=0.106.0
fastapi-camelcase>=2.0.0
fastapi-jwt-auth>=0.5.0
uvicorn>=0.25.0
# SQLAlchemy
SQLAlchemy>=2.0.23
alembic>=1.13.1
psycopg2-binary>=2.9.9
pydantic>=2.5.3
# libvirt
libvirt-python>=9.10.0
# Tools
bcrypt>=4.1.2
pings>=0.0.1
python-multipart>=0.0.6
passlib>=1.7.4
paramiko>=3.4.0
httpx>=0.26.0