alembic>=1.13.1
ansible-base>=2.10.17
ansible>=9.1.0
bcrypt==4.0.1 # https://github.com/logspace-ai/langflow/issues/1173
fastapi-camelcase>=2.0.0
fastapi-jwt-auth>=0.5.0
fastapi>=0.106.0
httpx>=0.26.0
jsonify==0.5
libvirt-python>=9.10.0
paramiko>=3.4.0
passlib>=1.7.4
pings>=0.0.1
psycopg2-binary>=2.9.9
pydantic>=2.5.3
python-multipart>=0.0.6
SQLAlchemy>=2.0.23
uvicorn>=0.25.0