fastapi==0.115.11
uvicorn==0.34.0
libvirt-python==11.1.0
ansible==11.6.0
ansible-runner==2.4.1 
SQLAlchemy==2.0.39
alembic==1.15.1
PyJWT==2.10.1
passlib==1.7.4
psycopg2-binary==2.9.10
python-multipart==0.0.20
httpx==0.28.1
rich==14.0.0